body
	{background-image: url(http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg);
	 background-repeat: no-repeat;
}
h1 
	{
	color: black;
}
a
	{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: green;
}
	a:visited{color: black}
	a:hover{color: blue}
ul
	{
	list-style: none;
	font-family: Arial;
}
#one-content
	{color: red;
}
#two-content
	{color: green;
}
#free-content
	{color: brown;
}
#four-content
	{color: yellow;
}
#five-content
	{color: purple;
}