body {
	background-color: #9b9999;
	background-attachment:fixed;  
	font:14px/24px Arial,Helvetica,sans-serif;
}

.container {
	background-color: #d7d7dd;
	height: 1100px;
	width: 80%;
    max-width: 900px;
    margin: 10px auto;
    padding: 1em;
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.header {
	margin: 0;
	width: 800px;
	height: 400px;
}

.main_foto {
	margin-left: 50px;
	margin-top: 25px;
	background: #c7c3c3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 2px;
}

.title1  {
	float: right;
	margin-right: 180px;
	margin-top: 25px;
	font-size:48px;
	font-weight: bold; 
	color:#333;
}

.title2  { 
	font-size:24px; 
	font-style:italic;
	font-weight: normal; 
	color:#173D5F;
	position: relative;
	left: 320px;
	bottom: 220px;
}

.top_text {
	margin-top: 0;
	height: 100px;
	width: 600px;
	position: relative;
	font-style: italic; 
	text-indent: 20px;
	color: #173D5F;
	font-size: 14px;
	left: 320px;
	bottom: 210px;
}

.mail a {
	text-decoration: none;
	color: black;	
}

	a:hover{color: blue}

h4 {
	position: relative;
	left: 320px;
	bottom: 210px;
}

hr {
	width: 900px;
}

.content {
	height: 500px;
	width: 900px;
	margin-left: 50px;
}

.skils1 {
	font-size: 32px;
	font-weight: bold; 
	color: #333;
	float: left;
	width: 800px;
	margin-bottom: 20px;
}

.html {
	font-size: 20px;
	font-weight: bold; 
	color: #333;
	float: left;
    width: 800px;

}

.text1 {
	float: left;
	width: 600px;
	height: 100px;
	text-indent: 20px;
	margin-right: 300px;
}

.educ {
	font-size: 20px;
	font-weight: bold; 
	color: #333;
	float: left;
	width: 800px;

}

.text2 {
	float: left;
	margin-right: 300px;
	width: 600px;
	height: 100px;
	text-indent: 20px;
}

.work {
	font-size: 20px;
	font-weight: bold; 
	color: #333;
	float: left;
	width: 800px;

}

.text3 {
	float: left;
	margin-right: 300px;
	width: 600px;
	height: 100px;
	
	text-indent: 20px;
}

.footer {
	float: left;
	
	
}

.footer_h3 {
	font-size:20px; 
	font-style:italic;
	font-weight: bold; 
	color:#173D5F;
}
