@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

*	 {
	margin:0; 
    padding:0; 
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: lightgray;
	font: Arial helvetica sans-serif;
	

}


.wrapper {

	width: 1060px;
	margin: 10px auto;
	padding: 60px 50px;
	background-color: gray;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   	-23px 0 20px -23px rgba(0, 0, 0, .8),
   	23px 0 20px -23px rgba(0, 0, 0, .8),
   	0 0 40px rgba(0, 0, 0, .1) inset;
}

.header {
	float: right;
	width: 600px;
	margin-right: 100px;
}

h1 {
	font-family: "Montserrat";
	font-size: 40px;
	padding-bottom: 20px;
}

p {
	font-family: Arial;
	font-size: 16px;
	padding-bottom: 20px;
	
}

.menu_top li {
	padding-bottom: 5px;
}

.main_wrapper {
	padding-top: 60px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 20px;
}

.main_skil {
	font-family: "Montserrat";
	font-size: 35px;
	padding-bottom: 10px;
}

.skil {
	font-family: "Montserrat";
	font-size: 27px;
	padding-bottom: 10px;
}

.footer {
	padding-top: 80px;
}