@import url(https://fonts.googleapis.com/css?family=Proza+Libre);
@import url(https://fonts.googleapis.com/css?family=Bangers);


* {
	margin:0; 
    padding:0; 
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: lightgray;
}

.wrapper {
	width: 1060px;
	margin: 10px auto;
	padding: 60px 50px;
	background-color: gray;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   	-23px 0 20px -23px rgba(0, 0, 0, .8),
   	23px 0 20px -23px rgba(0, 0, 0, .8),
   	0 0 40px rgba(0, 0, 0, .1) inset;
}

.main_foto {
	float: left;
	display: inline-block;
}

.main_foto img {
	display: block;
}

.header {
	float: right;
	display: inline-block;
	max-width: 600px;
	font-family: "Proza Libre";
}

h1 {
	font-family: "Bangers";
	font-size: 40px;
	padding-bottom: 20px;
}

h2 {
	font-family: "Bangers";
	font-size: 35px;
	padding-bottom: 20px;
}

h3 {
	font-family: "Bangers";
	font-size: 25px;
	padding-bottom: 20px;
}

.header p {
	font-size: 16px;
	padding-bottom: 20px;
}

.menu_top li {
	padding-bottom: 5px;
}

.content {
	display: inline-block;
	padding: 5% 8%;
}

.content p {
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding-bottom : 20px;
	text-indent: 25px;
}

footer {
	display: inline-block;
	margin-top: 20px;
}

footer a {
	margin-right: 10px;
}




