@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: BebasNeue; 
  src: url(../fonts/BebasNeue.otf);
}



html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
}



* {
  box-sizing: border-box;   /* MAIN STYLE*/

}
a {
  text-decoration: none;
  color: white; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;          /* END OF MAIN STYLE*/
}




    
.wrap_header_search {   /* HEADER */
  padding: 20px 10%;
}

.logo {
  line-height: 35px;
  display: inline-block;
}

h1 {
  font-family: "Lobster";
  font-size: 49px;
  color: #3cc3b5;
}

.form_search {
  display: inline-block;
  width: 40%;
  margin: 0.5% 20% 0;
}

form {
  position: relative;
  border: 1px solid rgb(216, 216, 216);
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

form input[type="text"]{
  padding: 6px 16px;
  outline: none;
  color: #312c3c;
  background: #FFFFFF;
  border: none;
  width: 84.33333%;
  line-height: 1.5em;
  position: relative;
  font-size: 0.8725em;
  text-transform: capitalize;
}

form input[type="submit"]{
  background: url('../img/search.png') no-repeat 10px 5px;
  padding: 6px 0px;
  border: none;
  cursor: pointer;
  width: 8.33%;
  line-height: 1.5em;
  outline: none;
  position: absolute;
  right: 0px;
}
  

.basket {
  float: right;
  width: 8%;
}

.price {
 font-family: BebasNeue;
 color: #a1a1a1;
}

.price li {
  float: left;
}

.price li:last-child {
  padding-left: 5%;
  padding-top: 8%;

}

.baks {
  font-size: 33px;
  font-weight: bold;
}                               /* END OF HEADER */





.header_menu {                   /* HEADER MENU*/
  background-color: #4CCFC1;
  padding: 0.1% 0;
}

.menu_top {
  padding: 0 18.7%;
  font-family: BebasNeue;
  font-size: 21px;
}

.menu_top ul {
  list-style:none;
  margin:0;
  padding:0;
}

.menu_top li {
  border-right: 2px solid white;
  float: left;
}

.menu_top li a {
  line-height: 36px;
  padding: 0 21px;
}

.menu_top li:last-child {
  border: none;
}                                   /* END OF HEADER MENU*/






.wrapp_slide  {                              /* MAIN SLIDE*/
  background-color: #42c4b9;
  height: 55%;
  padding: 2% 12%;
}

.slide {                                 
  width: 100%;
  position: relative;
  padding: 2% 12%;
}

.slide_img {
  float: left;
  display: block;
}

.slide_content {
  float: left;
  width: 30%;
  color: white;
  margin-left: 5%;
}

.slide_h2 {
  font-size: 61px;
  font-weight: bold;
  font-family: BebasNeue;
  margin-bottom: 10%;
}

.slide_p {
  font-size: 17px;
  font-family: "Open Sans";
  margin-bottom: 10%;
}

.slide_shop {
  font-size: 27px;
  font-family: BebasNeue;
  border: 3px solid white;
  border-radius: 8px;
  padding: 4px 25px;
  display: inline-block;
}

.slide_controls1 {
  display: inline-block;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
}

.eclipse li {
  float: left;
}                                           /* MAIN SLIDE*/






.wrap_slide_white {                         /*SLIDE WHITE BG*/
  width: 100%;
  min-width: 520px;
  height: 190px;
  position: relative;
  margin: 0px auto;
  background-color: white;
}

.white_slide {
  padding: 0 18%;
  height: 100%;
}

.shoes {
  width: 348px;
  height: 100%;
  float: left;
  font-family: BebasNeue;  
  border-right: 1px solid lightgray; 
}

.shoes1 {
  float: left;
  padding-top: 6.5%;

}

.sh_1_h {
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
  padding-bottom: 20px;
}

.shop_shoes {
  font-size: 19px;
  border: 1px solid transparent;
  color: white;
  background-color: #3cc395;
  padding: 4.1px 16px;
  border-radius: 4px;
}

.box_shop1 {
  float: left;
  padding-top: 14.1%;
}

.t_shirt {
  width: 348px;
  height: 100%;
  float: left;
  font-family: BebasNeue;
  border-right: 1px solid lightgray;
  
}

.shoes2 {
  float: left;
  padding-top: 6.5%;
}

.sh_2_h {
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
  padding-bottom: 20px;
}

.shop_shoes2 {
  font-size: 19px;
  border: 1px solid transparent;
  color: white;
  background-color: #3cc395;
  padding: 4.1px 16px;
  border-radius: 4px;
}

.box_shop2 {
  float: left;
  padding-top: 13.9%;
  padding-left: 19.3%;
}

.pants {
  width: 348px;
  height: 100%;
  float: left;
  font-family: BebasNeue;  
}

.shoes3 {
  float: left;
  padding-top: 6.5%;
  padding-left: 10%;
}

.sh_3_h {
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
  padding-bottom: 20px;
}

.shop_shoes3 {
  font-size: 19px;
  border: 1px solid transparent;
  color: white;
  background-color: #3cc395;
  padding: 4.1px 16px;
  border-radius: 4px;
}

.box_shop3 {
  float: left;
  padding-top: 13.9%;
  padding-left: 19.3%;
}

.pants {
  border: none;
}                                                 /*SLIDE WHITE BG*/






.product {                                            /*product*/
 background-color: #42c4b9;
 width: 100%;
 height: 67px;
}

.wrap {
  padding: 0 10%;
  height: 100%;
}

.main1 {
  padding-top: 1.22%;
  padding-left: 15%;
}

h3 {
  font-family: BebasNeue;
  color: white;
  font-size: 31px;
  font-weight: bold;
}                                                       /*end product*/





.shop {                                                 /* SHOP 6*/
  height: 688px;
}

.wrap_shop {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.main_shop {
  padding: 2%;
  height: 100%;
}

.for_shop1, .for_shop2 {
  font-size: 27px;
  font-family: BebasNeue; 
  color: #afafaf;
  font-weight: bold;
}

.for_shop2 {
  margin-top: 5%; 
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
  margin-top: 9%;
}

.st1_shop {
  text-align: center;
  width: 100%;
  height: 42%;
  margin-top: 1.1%;
}

.st2_shop {
  text-align: center;
  width: 100%;
  height: 42%;
  margin-top: 3%;
}

.shoe1, .shoe4 {
  float: left;
  width: 253px;
  height: 255px;
  margin: 0% 4% 0% 13.2%;
  position: relative;
  border-top:1px solid lightgray;
  border-left:1px solid lightgray;
  border-right:1px solid lightgray;
  border-bottom: 5px solid #3cc395;
}


.price_main {
  width: 100%;
  padding-top: 6.5%;
  
}

.price_main h4 {
  font-family: BebasNeue;
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
}

.price_main li {
  float: left;
  display: inline;
  padding-left: 29%;
}

.price_main span {
  font-family: BebasNeue;
  font-size: 20px;
  color: white;
  background-color: #3cc395;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 12px;
}

.last_span li:last-child {
  padding-left: 11%
}

.shoe2, .shoe3, .shoe5, .shoe6 {
  float: left;
  width: 253px;
  height: 255px;
  margin: 0% 4% 0% 0%;
  position: relative;
  border-top:1px solid lightgray;
  border-left:1px solid lightgray;
  border-right:1px solid lightgray;
  border-bottom: 5px solid #3cc395;
}                                           /* END OF SHOP 6*/







.bottom_menu {                                  /* bottom content 6*/
  background-color: #42c4b9;
  height: 35%;
}

.box_menu {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.wrapp_click {
  padding: 2.5% 2.5% 0 2.5%;
  
  height: 100%;
}

h5 {
  font-family: BebasNeue;
  font-size: 27px;
  color: white;
  padding-bottom: 17%;
}

.first_content_box {
  float: left;
  margin-left: 12.5%;
}

.content1_box ul li a {
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
}

.content1_box li {
  padding-bottom: 9.9%;
}

.second_content_box, .third_content_box, .fourth_content_box {
  float: left;
  margin-left: 7.5%;
}                                                 /* end of bottom content 6*/






.footer {
  background-color: #4CCFC1;
  color: white;
  font-size: 15px;
  font-family: "Open Sans";
  text-align: center;
  padding: 0.5% 0;
}


  @media screen and (min-width: 1220px) and (max-width:1900px) {    /* 1920px-1600px */

.form_search {                          /* HEADER */
  display: inline-block;
  width: 30%;  
}

form input[type="submit"]{
  width: 12%;
}  

.basket {
  width: 10%;
}                                   /* END OF HEADER */


.menu_top {                             /* HEADER MENU*/
  padding-left: 18.7%;
  padding-right: 0;
  font-family: BebasNeue;
  font-size: 21px; 
}                                     /*END OF HEADER MENU*/


.wrapp_slide  {                              /* MAIN SLIDE*/
height: 65%;
}

.slide_content {
width: 55%; 
}                                            /*end main slide*/


.white_slide {                                /*white slide*/
  padding-right: 1%;
  padding-left: 16%;
}
 
