@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: BebasNeue; 
  src: url(../fonts/BebasNeue.otf);
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;   /* MAIN STYLE*/
}

a {
  text-decoration: none;
  color: white; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;          /* END OF MAIN STYLE*/
}

.wrap_header_search {   /* HEADER */
  padding: 15px 11.8%;
  text-align: center;
}

h1 {
  float: left;
  font-size: 49px;
  line-height: 50px;
  font-family: "Lobster", Arial, Sans-serif;
  color: #3cc3b5;
}

.form_search {
  display: inline-block;
  line-height: 50px;
}

.wrap_header_search div.form_search input[type="search"] {
  width: 435px;
  height: 32px;
  padding: 5px 35px 5px 5px;
  border: 1px solid #e1e1e1;
  background: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 403px center; 
}

.basket img {
  padding-right: 7px;
}

.basket {
  float: right;
  line-height: 50px;
  font-family: BebasNeue, Arial, Sans-serif;
  font-size: 33px;
  color: #bdbdbd;
  font-weight: bold;

}                              /* END OF HEADER */

.header_menu {                   /* HEADER MENU*/
  padding: 10px 11.8%;
  background-color: #4ccfc1;
  text-align: center;
}

.header_menu ul li {
  display: inline-block;
  padding: 0 19px;
  border-left: 2px solid white;
  font-size: 21px;
  font-family: BebasNeue, Arial, Sans-serif;
  color: white;
  text-transform: uppercase;
}

.header_menu ul li:first-child {
  padding-left: 0;
  border-left: none;
}

div.header_menu ul li:last-child { 
  padding-right: 0;                                 
}                                         /* END OF HEADER MENU*/

.wrapp_slide  {                              /* MAIN SLIDE*/
  background-color: #3bc7b0;
  padding: 62px 11.8% 55px;
  position: relative;
}

.slide {                                 
  margin: 0 auto;
  max-width: 98%;
}

.slide_img {
  float: left;
  width: 38%;
}

.main_img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.slide_content {
  width: 43%;
  float: left;
  margin-left: 6.5%;
}

.slide_h2 {
  color: white;
  font: 61px BebasNeue, Arial, Sans-serif;
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
}

.slide_p {
  font: 17px "Open Sans";
  color: white;
  margin-bottom: 35px;
}

.slide_shop {
  padding: 6px 23px 3px;
  background-color: #3bc7b0;
  border: 3px solid white;
  border-radius: 7px;
  background-clip: padding-box;
  font: 27px BebasNeue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.slide_controls1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
}


.eclipse li {
  float: left;
  cursor: pointer;
  margin: 5px;
}                                           /* MAIN SLIDE*/

.white_slide {                         /*SLIDE WHITE BG*/
  height: 190px;
  text-align: center;
  position: relative;
  background-color: white;
  padding: 0 11.8%;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}

.slide_h3 {
  margin: 19px 0;
  font-family: BebasNeue;
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
}

.shoes, .t_shirt, .pants {              
  width: 33%;
  height: 100%;
  padding: 19px 0;
  float: left;
  font-family: BebasNeue;  
  border-right: 1px solid lightgray; 
}

.pants {
  border: none;
}

.slide_img1, .slide_img2, .slide_img3 {
  float: left;
}

.shoes1, .shoes2, .shoes3 {
  display: block;
}

.box_shop1, .box_shop2, .box_shop3 {
  display: inline-block;
  text-align: left;
}

.shop_button {
  padding: 6px 20px 6px;
  background-color: #3cc395;
  border: 1px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  font: 19px BebasNeue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
}    

.white_slide_controls {
  position: absolute;
  height: 190px;
  width: 29px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.white_slide_controls.left {
  left: 3%;
  background-image: url('../img/arrow_left.png');
}

.white_slide_controls.right {
  right: 3%;
  background-image: url('../img/arrow_right.png');
}                                                     /*SLIDE WHITE BG*/

.product {                                            /*product*/
  padding: 0 11.8%;
  height: 67px;
  background-color: #3bc4b8
}

.product_h3 {
  font: 31px BebasNeue;
  font-size: 31px;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  line-height: 64px;
  text-transform: uppercase;
  margin-left: 3.5%;
}                                                /*end product*/

.shop {                                            /* SHOP 6*/
  padding: 46px 11.8% 75px;
  text-align: center;
}

.top_shop, .bottom_shop {
  padding: 1% 4%;
}

.bottom_shop {
  margin-top: 25px;
}

.shoe1, .shoe2, .shoe3, .shoe4, .shoe5, .shoe6 {
  float: left;
  width: 253px;
  height: 255px;
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-bottom: 5px solid #3cc395;
}

.shoe2, .shoe5 {
  display: inline-block;
  float: none;
}

.shoe3, .shoe6 {
  float: right;
}

.price_main {
  display: block;
  margin: 0 auto;
}

.pic1 {
  display: block;
  margin: 0 auto;
}

h4 {
  font-family: BebasNeue;
  font-size: 27px;
  font-weight: bold;
  color: #afafaf;
}

.main_shop {
  padding: 6px 20px 6px;
  background-color: #3cc395;
  border: 1px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  font: 19px BebasNeue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
}                                           /* END OF SHOP 6*/

.bottom_menu {                                  /* bottom content 6*/
  padding: 40px 11.8% 27px;
  background-color: #3cc3b5;
}

h5 {
  font-family: BebasNeue;
  font-size: 27px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 12px;
}

.first_content_box, .second_content_box, .third_content_box, .fourth_content_box {
  float: left;
  width: 25%;
  padding-left: 3%;
}

.content1_box li {
  margin-bottom: 7px;
}    

.content1_box ul li a {
  font: 15px "Open Sans", Arial, sans-serif;
  color: white;
}                                     /* end of bottom content 6*/

.footer {
  height: 45px;
  background-color: #2da89b;
}

.footer p {
  font: 15px "Open Sans", Arial, sans-serif;
  line-height: 45px;
  color: white;
  text-align: center;
}


