@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: lightgray;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.widget {
	font-family: 'Pacifico', sans-serif;
	display: inline-block;
	float: left;
	background-color: #696e70;
	border-radius: 15px;
	margin: 20px 20px 0px 20px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
	0 17px 50px 0 rgba(0,0,0,0.19);
}

.widget div {
	padding: 15px 25px;
}

.widget div input {
	background-color:lightgray;
	text-align: center;
	padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
}

.widget div input:focus {
	outline: none;
    border: 1px solid #CA0A00;
    box-shadow: 0 0 5px #CA0A00;
}

.widget div input:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
	0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.7s;
}

.widget div button {
	margin-left: 10px;
	padding: 7px 20px;
	border-radius: 5px;
	border: 1px solid lightgray;
	cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.widget div button:hover { 
	background-color: #969692;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
	0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.7s;
}

.widget div button:focus {
	outline: none;
    border: 1px solid #CA0A00;
    box-shadow: 0 0 5px #CA0A00;
}

.weather_result {
	text-align: left;
	margin-top: 25px;
	line-height: 22px;
    overflow: hidden;
}

.weather_result p {
	font-family: 'Droid+Sans', sans-serif;
	font-size: 18px;
	margin-top: 5px;
	color: white;
}

.weather_result p:first-child {
	font-family: 'Pacifico', sans-serif;
	font-size: 30px;
    padding-bottom: 5px;
}

.weather_result p:nth-child(2){
	font-family: 'Pacifico', sans-serif;
	font-size: 42px;
}

.weather_result img {
    vertical-align: middle;
    width: 70px;
}

#google_map {
    height: 376px;
    width: 408px;
    float: left;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 15px;
    display: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
	0 17px 50px 0 rgba(0,0,0,0.19);
}