* {
  box-sizing: border-box;  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;          
} 

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}    
                          
