body {
	text-align: center;
}

button {
	font-size: 25px;
}

h1 {
	margin-top: 50px;
	font-size: 50px;
	font-weight: bold;
}

#watch {
	font-family:Tahoma, sans-serif;
  	font-size:60px;
  	font-weight:bold;
  	color:#0000cc;	
}
