* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
}

body {
	background-image: url(../img/bg2.jpg);
   	background-repeat: no-repeat;
  	background-size: cover;
   	background-position: center;
   	background-attachment: fixed;
   	font-family: Tahoma, Sans-serif, Arial;
}

header {
	height: 37px;
	background-color: #075291;
}

header a {
	color: #5cafe7;
}

header ul {
	height: 100%;
	float: right;
	padding-right: 20px;
}

header li:nth-child(5) {
	border-right: 1px solid #60b5ed;
}

header ul li {
	line-height: 36px;
	display: inline-block;
	padding: 0 13px;
	font-size: 14px;
    font-family: Tahoma, Arial, Sans-serif;
    color: #5cafe7;
}

.flag {	
	display: block;
}

.white_p {
	color: white;
	background-color: #4eabda;
}

.white_p_nonebg {
	color: white;
}

main {
	max-width: 560px;
	margin: 11% auto 0;
}

.top_box {
	color: #fff;
  	background: rgba(22,22,22, 0.63);
	line-height: 62px;
  	width: 100%;
  	margin-bottom: 2px;
  	text-align: center;
}

h1 {
	font-size: 24px;
	font-family: Tahoma, Arial, Sans-serif;
}

.content_box {
  	background: rgba(22,22,22, 0.63);
  	width: 100%;
}

.buttonfb {
	text-align: center;
	padding-top: 36px;
	padding-bottom: 20px;
}

.hr_hr {
	width: 276px;
	margin: 0 auto; 
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #999999;
}

.hr_hr span {
    display: inline-block;
    margin: 0.4em;
}

.hr_hr span:before,
.hr_hr span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid black;
    margin-top: .6em;
}

.hr_hr span:before {
    margin-left: -102%;
}

.hr_hr span:after {
    margin-left: 2%;
}

form {
	padding-top: 25px;
	margin: 0 auto;
	text-align: center;
}

input {
	height: 34px;
	width: 275px;
	padding-left: 19px;
	background-color: black;
	color: #cccccc;
	font-size: 14px;
	border-top: none;
	border-bottom: 1px solid gray;
	border-right: none;
	border-left: none;
	margin-bottom: 1.38em;
}
	
input:hover {
	background-color: #1b5288;
	transition: all 0.4s;
}

input:focus {
    border: 3px solid #2f7bc5;
}

.checkbox {
	margin-right: 8px;
	padding-top: 20px;
	margin: 0 16px 0 0;
	height: 13px;
    width: 13px;
    color: #cccccc;
}

.footer_box {
	text-align: center;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
}

h3 {
	color: #cccccc;
	font-size: 14px;
	display: inline-block;
}

button {
	font-size: 14px;
	color: white;
	background-color: #469fd4;
	border: none;
	padding: 13px;
	border-radius: 7px;
} 

.footer_box p {
	padding-top: 14.9px;
	padding-bottom: 23px;
	font-size: 11px;
	color: #cccccc;
}